.profile-pic {
    width: 100%;
}
.collapsible-menu {
    float: right;
    position: absolute;
    z-index: 9999;
}
@media (min-width: 980px) {
    .collapsible-menu {
        display: none;
    }
}
.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}
.collapsible-menu a {
    display:block;
    padding: 10px;
    text-decoration: none;
}

.collapsible-menu label {
    font-size: 56px;
    cursor: pointer;
    height: 98px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
input#menu {
    display: none;
}


.menu-content {
    max-height: 0;
    overflow: hidden;
}
/* Toggle Effect */

input:checked ~ .menu-content {
    max-height: 100%;
    background-color: white;
}

.hamburger-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

input:checked ~ label > .hamburger-container > .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}

input:checked ~ label > .hamburger-container > .bar2 {opacity: 0;}

input:checked ~ label > .hamburger-container > .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}

.countdown-section * > h2 {
    color: white !important;
}

.countdown {
    display: flex;
    justify-content: center;
    font-size: 40px !important;
    flex-wrap: wrap;
}

.countdown > div {
    display: flex;
    flex-direction: column;
    padding: 5px 2rem;
    margin: 2rem;
    border: 7px double #97A75C;
    border-radius: 2rem;
    background-color: white;
    color: #97A75C !important;
}

#dias, #horas, #minutos {
    font-weight: bold;
}

#rsvp-react {
    position: relative;
    z-index: 99;
}

.lista-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: start;
    justify-content: center;
}

.item-presente {
    flex: 0 0 auto;
    margin: 1rem;
    padding: 3rem;
    background: #fff;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}

.item-presente:hover {
    transform: scale(1.05);
}

.item-presente > .desc {
    max-width: 200px;
}

.item-presente-imagem > img {
    width: 200px;
    margin-bottom: 2rem;
}

.item-presente-imagem {
    width: 200px;
    height: 220px;
    align-items: center;
    display: flex;
}

p.preco {
    color: green;
    font-size: x-large;
}

.modal-content {
    width:100%;
}

.modal {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.modal-dialog-centered {
    margin: 0 auto !important;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    min-height:calc(100% - (.5rem * 2));
}

@media (min-width: 576px) {
    .modal-dialog-centered {
        min-height:calc(100% - (1.75rem * 2));
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

#modal-image {
    width: 100%;
}

#modal-title {
    font-weight: bold;
    font-size: x-large;
}

@media (max-width: 990px) {
    #modal-title {
        padding-top: 2rem;
    }
}

.pagamentos {
    padding-top: 2rem;
    border-top: 1px solid #688c59;
    margin: 2rem auto;
}

.pagamentos > h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    font-weight: lighter;
    color: #848484;
    margin: 0;
}

.opcoes-pagamento {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.presentoes-titulo {
    padding: 2rem 0;
}
